.about{
    width: 100vw;
    /* height: auto; */
    max-height: 200vh;
    position: relative;
    /* background-color: red; */
   /* height: 100vh; */
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top: -50px;
   /* padding-bottom: -50px; */
   /* z-index: -1; */
   /* animation: background 5s linear infinite alternate-reverse; */
}
.cont{
    /* width: 100px */
    /* max-height: 200vh; */
    /* padding-bottom: -400px !important; */
    /* margin-bottom: 200px !important; */
}
@keyframes background{
    0%{

        background-color: red;
        transform: translateY(50px);
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: green;
        transform: translateY(-29px);
    }
}
/* .about::after{
    content: "";
    position:absolute;
    /* background: url("./background.jpg"); */
    /* top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    /* max-height: 100%; */
    /* width: 100%;
    background-position: center center;
    object-fit: contain;
    opacity: .7;
} */
.heading{
    text-align: center;
    /* background-color: green; */
    text-transform: uppercase;
    position:relative;
    font-weight: 300;
    font-size: 1.5rem;

}
.heading>span::after{
    content: "";
    position: absolute;
    width: 10%;
    min-width: 110px;
    height: .05rem;
    bottom: -5px;
    background-color: green;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.pic{
    /* max-height: 80%;
    max-width: 60%; */
    height: 60%;
    width: 50%;
   /* margin-top: 15px !important; */

    /* border: 3px solid red; */
    position: relative;
    /* box-shadow: 0 0 10px 10px white ; */
    /* margin: 10px; */
    /* border: 4px solid white; */
    /* margin-left: 0px; */




}






.pic>.img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    /* border-radius: 500px; */
    /* position: sticky; */
    position: relative;
    z-index: 1;
    /* transform: translate3d(100px) ;
    perspective: 800px; */
    /* margin-top: 20px !important; */
    border:  10px solid white;
    /* margin-left: -20px; */
    border-radius: 20px;
}
.pic::after{
    content: "";
position: absolute;
left: -45px;
top: 104px;
height: 98%;
width: 98%;
border: 10px solid crimson;
z-index: -1;
}
.bottom{
    margin-top: 120px !important;
}
.bottom >div{
    letter-spacing: .20rem;
    /* color: violet; */
    color: white;
}
.bottom>div>span{
    color: red;
}
.me{
    z-index: 20;
    height: 100%;
    width: 100%;
}
.upper,.lower{
    color: white;
    opacity: 1;
}
/* .lower{
    /* margin-bottom: 350px !important; */
/* } */
@media only screen and (max-width: 2992px)  {
    .round{
         top: -40px;
         /* height: 140%;
         width: 140%; */
    }
}
@media only screen and (max-width: 1457px)  {
    .round{
         top: -40px;
         /* height: 140%;
         width: 140%; */
    }
}
@media only screen and (max-width: 1384px)  {
    .round{
         top: -30px;
         /* height: 140%;
         width: 140%; */
    }
}
@media only screen and (max-width: 1173px)  {
    .round{
         top: -28px;
         /* height: 140%;
         width: 140%; */
    }
}

@media only screen and (max-width: 994px)  {
    .round{
         top: -34px;
         height: 130%;
         width: 130%;
         left: -14%;
    }
     .lower{
        margin-bottom: 300px !important;
        /* margin-top: 0px !important; */
    }
    .aa{
        margin-top: -300px;
        /* background: red !important; */
    }
    /*
    .content{
        margin-top: 250px;
    }
    .pic{
        margin-top: 1rem !important;
        height: 40%;
        width: 35%;
    } */

}

@media only screen and (max-width: 770px)  {
     .round{
         top: -30px;
         height: 140%;
         width: 138%;
         left: -20%;
    }
    /* .pic{
        height: 30%;
        width: 30%;
        margin-top: 20px !important;
    } */

}
@media only screen and (max-width: 610px)  {
    .round{
        top: -29px;
        height: 130%;
        width: 135%;
        left: -17%;
   }
   /* .pic{
       height: 36%;
       width: 36%;
       margin-top: 20px !important;
   } */

}
@media only screen and (max-width: 530px)  {
    .round{
        top: -25px;
        height: 130%;
        width: 135%;
        left: -19%;
   }
   /* .pic{
       height: 30%;
       width: 35%;
       margin-top: 20px !important;
   } */
   .pic{
       height: 50%;
       width: 66%;
   }
   .pic::after{
    position: absolute;
    left: -40px;
    top: 100px;
    height: 90%;
    width: 95%;
    border: 5px solid crimson;
    z-index: -1;
   }

}




@media only screen and (max-width: 485px)  {
     .round{
         top: -25px;
         height: 130%;
         width: 130%;
         left: -15%;
    }
    /* .pic{
        height: 30%;
        width: 40%;
        margin-top: 20px !important;
    } */
    /* .upper>h2{
        font-weight: 200;
        font-size: 1.5rem;
        color:rgb(157, 245, 204);
        margin-top: 10px;
    }
    .lower>h4{
        font-size: 1rem;
    } */

}
@media only screen and (max-width: 430px)  {
    /* .content{
        margin-top: 300px;
    } */
    /* .round{
        top: -30px;
        height: 140%;
        width: 140%;
        left: -19%;
   } */
   /* .pic{
       height: 30%;
       width: 45%;
       /* margin-top: 20px !important; */
   /* }


    .upper>h2{
        font-size: 1rem;
    } */
}
@media only screen and (max-width: 378px)  {

    .round{
        top: -25px;
        height: 140%;
        width: 140%;
        left: -19%;
   }
    /* .pic{
        height: 35%;
        width: 40%;
    }
    .content{
        margin-top: 100px !important;
    } */
}
@keyframes circle3{
    0%{
        transform: rotate(0deg);
        /* rotate: 120deg; */
        background-color: red;
        border: 5px dashed white;
    }
    50%{
        border: 5px dashed blue;
    }
    75%{
        border: 5px dashed black;
    }
    100%{
      transform: rotate(360deg);
      /* rotate: 360deg; */
      border: 5px dashed green;
      /* transform: translateX(-225px); */
    }
}
@keyframes circle1{
    0%{
        /* transform: rotate(0deg); */
        /* background-color: red; */
    }
    100%{
      /* transform: rotate(360deg); */
      box-shadow: 0 0 10px 10px black;
    }
}
.img{
    margin-bottom: -50px !important;
}

