.footer{
    width: 100vw;
    height: 60px;
    background-color:transparent;
    margin-top: 50px;
    /* opacity: .5; */
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px 0 red;
    z-index: 50;
}
#foo{
    width: 100vw;
    height: 100%;
    display: flex !important;
   justify-content: space-around !important;
   background-color:transparent;
}
.MuiBottomNavigationAction-root
{
    min-width: 30px !important;
    padding: 15px 6px 8px 6px !important;
}