.all_content{
    max-height: 1000vh;
    /* height: 200px; */
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add{
    display: flex ;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* background: red; */
    max-height: 100%;
    width: 100vw;
}
.ad{
    position: relative;

}
.imgsection{
    /* width: 33vw; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row-reverse; */
    transition: all 2s;
    height: 250px !important;
    /* width: 250px !important; */

}

.pic1{
    max-height: 100%;
    width: 100%;
    overflow: hidden;



}
.pic1>img{
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: contain;

    overflow: hidden;

    position: relative;


}
.pic2{
   /* height: 200px !important; */
   /* width: auto; */
}
.pic2:hover{
    /* transform: scale(2); */
    /* display: none; */

}
.cover{
    display: none;
    /* display: flex; */
}
.hover{
    height: 100%;
    width: 100%;
   position: absolute;
   top: 0;
   left: 0;
    background: rgb(247, 247, 219);
    /* margin:4px; */
    z-index: 5;
    transition: all 2s !important;
    opacity: .8;
   /* display: grid; */
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding: 20px;
}
.hover>a{
    color: red;
    list-style: none;
    text-decoration: none;

}

