.all_content{
    max-height: 100vh;
    /* height: 200px; */
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add{
    display: flex ;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* background: red; */
    max-height: 160vh;
    width: 100vw;
}
.ad{
    position: relative;

}
.imgsection{
    /* width: 33vw; */
    position: relative;
}

.pic1{
    height: 100%;
    width: 100%;
    overflow: hidden;



}
.pic1>img{
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: contain;

    overflow: hidden;
  
    position: relative;


}
.pic1>img:hover{
    transform: scale(1.2);

}
.cover{
    display: none;
}
.hover{
    height: 100%;
    width: 100%;
   position: absolute;
   top: 0;
   left: 0;
    background: yellow;
    /* margin:4px; */
    z-index: 5;
    transition: all 2s;
    opacity: .5;
}

